@import 'react-toastify/dist/ReactToastify.css';
@import 'tailwindcss';
@plugin 'daisyui';

:root,
[data-theme] {
	--toastify-color-light: var(--color-base-100);
	--toastify-color-dark: var(--color-base-200);
	--toastify-color-info: var(--color-info);
	--toastify-color-success: var(--color-success);
	--toastify-color-warning: var(--color-warning);
	--toastify-color-error: var(--color-error);
	--toastify-text-color-light: var(--color-base-content);
	--toastify-text-color-dark: var(--color-base-content);
	--toastify-icon-color-info: var(--color-info);
	--toastify-icon-color-success: var(--color-success);
	--toastify-icon-color-warning: var(--color-warning);
	--toastify-icon-color-error: var(--color-error);
	--toastify-color-progress-light: var(--color-primary);
	--toastify-color-progress-dark: var(--color-primary);
	--toastify-font-family: inherit;
	--toastify-toast-border-radius: 0.75rem;
}
